body {
  background-color: palegreen;
  display: flex;
  flex-flow: row nowrap;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.result {
  display: inline-block;
  color: red;
  text-transform: uppercase;
  vertical-align: middle;
}

.result--success {
  color: green;
}

.start {
  display: inline-block;
  margin-bottom: 20px;
}

.field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  width: 500px;
  height: 500px;
  float: left;
}

.field__cell {
  flex-basis: 50px;
  height: 50px;
  box-shadow: inset 0 0 0 1px palegreen;
}

.field__cell--up {
  box-shadow: 0 -4px 0 0 black, inset 0 0 0 1px palegreen;
}

.field__cell--up-right {
  box-shadow: 0 -4px 0 0 black, 4px 0 0 0 black, inset 0 0 0 1px palegreen;
}

.field__cell--up-left {
  box-shadow: 0 -4px 0 0 black, -4px 0 0 black, inset 0 0 0 1px palegreen;
}

.field__cell--right {
  box-shadow: 4px 0 0 0 black, inset 0 0 0 1px palegreen;
}

.field__cell--down {
  box-shadow: 0 4px 0 0 black, inset 0 0 0 1px palegreen;
}

.field__cell--down-right {
  box-shadow: 0 4px 0 0 black, 4px 0 0 0 black, inset 0 0 0 1px palegreen;
}

.field__cell--down-left {
  box-shadow: 0 4px 0 0 black, -4px 0 0 black, inset 0 0 0 1px palegreen;
}

.field__cell--left {
  box-shadow: -4px 0 0 black, inset 0 0 0 1px palegreen;
}

.field__cell--target:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: darkorange;
  opacity: 0.5;
}

.piece {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
}

.piece:before,
.piece:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
}

.piece:after {
  background-color: darkorange;
  border-radius: 7px;
  z-index: 1;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 3px darkorange;
  margin-top: -15px;
}

.piece:before {
  background-color: transparent;
  z-index: 2;
  border: solid 15px transparent;
  width: 0;
  height: 0;
  border-bottom: solid 15px white;
  margin-top: -25px;
}